// Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// Setup your Custom Colors
$slate-blue: hsla(178%, 16%, 42%, 1);
$azure-white: hsla(230%, 64%, 91%, 1);
$dark: hsla(206%, 19%, 17%, 1);
$light-blue: hsla(200%, 35%, 72%, 1);
$gray: hsla(251%, 12%, 73%, 1);

// Set Colors
$primary: $slate-blue;
$footer-background-color: $dark;
$is-dark: $dark;
$link: $dark;
$white: $azure-white;
$black: $dark;

// Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "slate-blue":($slate-blue, $dark),
  "azure-white":($azure-white, $dark),
  "dark":($dark, $azure-white),
  "light-blue":($light-blue, $dark),
  "gray":($gray, $dark)
);

$colors: map-merge($colors, $addColors);

@import 'bulma/bulma';
@import '~bulma-extensions/dist/css/bulma-extensions.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
